.DS_Store
debug*
datasets/
checkpoints/
results/
build/
weight/
dist/
*.png
*/**/__pycache__
docs/src/**/*
testsets
weights
test/htmlcov
test/.coverage
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*~
.idea
*.zip
*_bk*
__pycache__